@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&family=Oswald:wght@200;400&family=Sanchez&display=swap");

/* --- GENERAL RULES --- */
:root {
  --mainColor: #1f1fb7;
  --accentColor: #b48a21;
  --navColor: #bebeff;
  --contentColor: #dadada;
  --textColor: #060623;
  --navColorDark: #08082b;
  --contentColorDark: #0a0a0a;
  --textColorDark: #dadada;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: "Nunito", "sans-serif";
  scroll-behavior: smooth;
}

h2,
h5,
p {
  color: var(--textColor);
  transition: 0.3s;
}

#mission h2,
#mission h5,
#mission p {
  color: #000000;
}

h4 {
  font-size: 1.8rem;
}

.padding-small {
  padding: 10px 20px;
}

.padding-mid {
  padding: 20px 40px;
}

.padding-large {
  padding: 40px 80px;
}

button {
  width: 75px;
  height: 25px;
  background-color: var(--mainColor);
  border-radius: 4px;
  box-shadow: 3px 3px 5px #00000080;
  transition: 0.2s;
  cursor: pointer;
  padding: 0;
  color: var(--contentColor);
}

button:hover {
  transform: scale(1.02);
  opacity: 0.75;
}

button:active {
  background-color: var(--accentColor);
}

p::first-letter {
  color: var(--mainColor);
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
}

/*---------------- HEADER ----------------*/

header {
  width: 100%;
  height: 65px;
  display: flex;
  padding-left: 2rem;
  justify-content: space-around;
  background-color: var(--navColor);
  padding-left: 0;
  box-shadow: 0 5px 25px #000000;
  z-index: 1;
  position: fixed;
  top: 0;
}

#logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--textColor);
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  padding: 0px;
  list-style: none;
  font-size: 24px;
  display: flex;
  gap: 32px;
}
/* Add scroll FX and text FX, make footer stay at the bottom, dark mode  */

ul li a {
  text-decoration: none;
  color: var(--mainColor);
  cursor: pointer;
  transition: color 0.2s ease;
  text-shadow: 0 6px 12px hsl(240, 71%, 12%, 0.5);
}
ul li a:hover {
  animation: navfx 1s;
  color: var(--accentColor);
  border-bottom: 2px solid var(--accentColor);
  text-shadow: 0 6px 10px var(--mainColor) 40;
}

.header-buttons {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* ---------- HERO Parallax ----------- */

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 10px;
  margin-top: 65px;
}

#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 20px;
  transform-style: preserve-3d;
  z-index: -1;
}

#hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to top, #000000, #00000020);
  z-index: -1;
}

#hero .background {
  position: absolute;
  top: 0;
  width: 80%;
  height: 80%;
  z-index: -1;
  transform: translateZ(-20px) scale(4);
}

#hero .foreground {
  position: absolute;
  width: 120%;
  height: 100%;
  right: -10%;
  z-index: -1;
  object-fit: cover;
  transform: translateZ(-10px) scale(2);
}

#hero h2 {
  color: white;
  font-size: 3.5rem;
  text-transform: uppercase;
  animation: focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
}

#hero button {
  width: 160px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------- CONTENT -----------*/

#content {
  background-color: var(--contentColor);
  display: grid;
  gap: 80px;
  grid-template-columns: 2fr 1fr;
  z-index: 2;
}

.content-left {
  width: 75ch;
  line-height: 26px;
}

.content-left-box {
  margin-bottom: 40px;
}

.content-left h2 {
  margin-bottom: 20px;
  position: relative;
  text-shadow: 0 6px 6px hsl(240, 71%, 12%, 0.5);
  transition: 0.5s;
}

.content-left h2::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 338px;
  height: 2px;
  background-color: var(--mainColor);
  position: absolute;
}

.content-left p {
  width: 75ch;
  line-height: 26px;
  text-shadow: 0 6px 6px hsl(240, 71%, 12%, 0.32);
  color: var(--textColor);
}

.content-left h2.one::after {
  width: 292px;
}

.content-right-box {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-right-box h2 {
  font-size: 2rem;
  transition: 0.8s ease-out;
  position: relative;
  width: fit-content;
  border-bottom: 2px solid var(--accentColor);
  text-shadow: 0 6px 6px hsl(43, 69%, 12%, 0.5);
}

.content-right-box img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1rem;
  margin: 20px 0 10px;
  transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* ----- TEXT WITH 2ND PARALLAX ----- */

.wrapper-two {
  height: 85vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 10px;
  background-color: hsl(240, 71%, 6%);
  scroll-behavior: smooth;
}

#mission {
  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  flex-direction: column;
  align-items: center;
  transform-style: preserve-3d;
  z-index: -1;
}

#mission .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translateZ(-18px) scale(3.4);
}

#mission .foreground {
  position: absolute;
  z-index: -1;
  transform: translateZ(-10px) scale(2);
}

#mission .mission-container {
  background-color: #b58b21bb;
  height: 100%;
}

#mission h2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  font-family: "Sanchez";
  text-shadow: 0 6px 6px hsl(43, 69%, 12%);
  letter-spacing: 2.2px;
  transition: 0.5s ease-out;
}

#mission p {
  padding: 10px 30px;
  text-shadow: 0 6px 6px hsl(43, 69%, 12%);
}

#mission p strong {
  font-size: 18px;
}

#mission .space-left,
#mission .space-right {
  width: 100%;
  height: 100%;
  background-color: var(--contentColor);
  opacity: 0.5;
}

#mission form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 1.5rem;
  position: relative;
}

#mission form input {
  height: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #00000080;
}

#mission form input:focus {
  outline: 2px solid var(--mainColor);
}

#mission form button {
  position: absolute;
  width: 50px;
  height: 30px;
  right: 3.6%;
  top: 24.7%;
  border-radius: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#mission form button:hover {
  transform: none;
  opacity: 1;
  background-color: hsl(240, 71%, 52%);
}

#mission form button.btn2 {
  top: 68.5%;
}

#mission form h5 {
  position: relative;
  text-shadow: 0 6px 6px hsl(43, 69%, 12%);
}

#mission form h5::after {
  content: "";
  width: 46%;
  height: 2px;
  position: absolute;
  left: 27%;
  bottom: 0;
  background-color: var(--mainColor) 80;
}

#mission form h6 {
  font-size: 0.55em;
  color: #444;
}

#partners {
  height: 42%;
  width: 100%;
  background-color: hsl(240, 71%, 6%);
  position: absolute;
  bottom: -93%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  z-index: 1;
  padding-top: 80px;
}

#partners h2 {
  color: var(--contentColor);
  font-size: 30px;
  border-bottom: 1px solid var(--accentColor);
}

.partners-box {
  display: flex;
  gap: 50px;
}

.partners-box img {
  width: 150px;
  height: 100px;
}

img.apple {
  width: 120px;
}

img.spacex {
  width: 170px;
}

img.google {
  height: 120px;
}

/* ------ FOOTER ----- */

footer {
  height: 150px;
  width: 100%;
  background-color: #222;
}

footer.hidden {
  display: none;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 25px;
}

footer #logo {
  color: var(--contentColor);
}

.social-media {
  display: flex;
  gap: 2rem;
}

.social-media img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}

.social-media img:hover {
  box-shadow: 0 0 50px #ffffff20, inset 0 0 5px #ffffff20;
}

#subfooter {
  width: 100%;
  height: 50px;
  background-color: #111;
  color: var(--contentColor);
  font-size: 20px;
  text-align: center;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ++++++++++ EFFECTS +++++++++++ */

.from-left {
  transform: translateX(-100%);
}

.from-right {
  transform: translateX(100%);
}

.from-top {
  transform: translateY(-200%);
}

.from-bottom {
  transform: translateY(200%);
}

.spin-in {
  opacity: 0;
  transform: scale(0.5) rotate(720deg);
}

.puff-in {
  transform: scale(2);
  opacity: 0;
  filter: blur(4px);
}

.tilt-in {
  transform: rotateY(-35deg) rotateX(20deg) translate(250px, -250px)
    skew(-12deg, -15deg) scale(0.5);
  opacity: 0;
}

@keyframes navfx {
  0% {
    color: var(--mainColor);
  }
  35% {
    color: white;
  }
  100% {
    color: var(--accentColor);
  }
}

@keyframes focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    text-shadow: 3px 6px 6px var(--mainColor) ac;
  }
}

@keyframes glow {
  0% {
    text-shadow: 3px 6px 6px var(--mainColor);
    opacity: 0.75;
  }
  50% {
    text-shadow: 6px 12px 24px var(--mainColor);
    opacity: 1;
  }
  100% {
    text-shadow: 3px 6px 6px var(--mainColor);
    opacity: 0.75;
  }
}

.button-85 {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: hsl(240, 71%, 22%);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
